:root {
    --rmn-top-gap: 30px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FF91FF;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

#espai_inicial {
    color: #FF91FF;
}